<div class="container m-5 text-center">
    <h1 class="m-5 text-center">Actualizar producto</h1>
    <form method="post" action="/products/update/{{product._id}}">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> Nombre</label>
                <input type="text" class="form-control" id="name" name="name" value="{{product.name}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Precio</label>
            <input type="text" class="form-control" id="price" name="price" value="{{product.price}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Stock</label>
            <input type="text" class="form-control" id="stock" name="stock" value="{{product.stock}}">
        </div>
         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Imagen</label>
            <input type="text" class="form-control" id="image" name="image" value="{{product.image}}">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>
</div>